certifi==2024.2.2
fastapi==0.109.0
Flask==3.0.1
nltk==3.8.1
pydantic==2.6.0
pymongo==4.6.1
pytest==8.0.0
python-dotenv==1.0.1
python_crfsuite==0.9.10
scikit_learn==1.4.0
starlette==0.36.1
tqdm==4.66.1
