:root {
    /* Font sizes */
    --font-size-larger: 2.8rem;
    --font-size-large: 2.3rem;
    --font-size-medium: 1.65rem;
    --font-size-small-medium: 1.55rem;
    --font-size-small: 1.2rem;
    --font-size-smaller: 1rem;
    --font-size-tiny: 0.75rem;

    /* Font weights */
    --font-weight-bolder: 700;
    --font-weight-bold: 550;
    --font-weight-normal: 400;
    --font-weight-light: 350;

    /* Fonts */
    --font-special: lora, serif;
    --font-body: lato, sans-serif;

    /* Line height */
    --desc-line-height: 1.6;
}

@media (width <= 768px) {
    :root {
        --font-size-larger: 2.75rem;
        --font-size-large: 2.1rem;
        --font-size-medium: 1.65rem;
        --font-size-small-medium: 1.4rem;
        --font-size-small: 1.2rem;
        --font-size-smaller: 1rem;
    }
}

@media (width <= 414px) {
    :root {
        --font-size-larger: 1.85rem;
        --font-size-large: 1.75rem;
        --font-size-medium: 1.4rem;
        --font-size-small-medium: 1.25rem;
        --font-size-small: 1.1rem;
        --font-size-smaller: 0.9rem;
    }
}

@media (width <= 375px) {
    :root {
        --font-size-larger: 1.74rem;
        --font-size-large: 1.65rem;
        --font-size-medium: 1.35rem;
        --font-size-small-medium: 1.2rem;
        --font-size-small: 1rem;
        --font-size-smaller: 0.9rem;
    }
}

* {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

h2.subheader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--ion-color-medium);
}

h3 {
    font-size: var(--font-size-small-medium);
}

h3.subheader {
    margin-top: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--ion-color-medium);
}

h4 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
}

h4.subheader {
    margin-top: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--ion-color-medium);
}

h5 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
}

h5.subheader {
    margin-top: 0;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-normal);
    color: var(--ion-color-medium);
}