.center {
    position: relative;
    text-align: center;
    object-fit: fill;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.content {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 1080px;
    margin: unset !important;
    margin-left: auto !important;
    margin-right: auto !important;
}