:root {
    --shadow-color: 0deg 0% 61%;
    --shadow-color-dark: var(--ion-color-primary-shade);
    --box-shadow: 0 2px 8px hsl(var(--shadow-color) / 0.23);
    --box-shadow-hover: 0 4px 16px hsl(var(--shadow-color) / 0.23);
    --box-shadow-strong:
            0 2px 8px hsl(var(--shadow-color) / 0.23),
            0 4px 16px hsl(var(--shadow-color) / 0.23),
            0 8px 32px hsl(var(--shadow-color) / 0.1);
    --margin: 0;
    --margin-lr: 20px;
    --border-radius: 15px;
    --border: 1px solid #dcdcdc !important;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.shadow:hover {
    box-shadow: var(--box-shadow-hover);
}

.no-border {
    border: none !important;
}

.link {
    cursor: pointer;
}