:root {
    --max-width: 1080px;
}

.page {
    margin: 25px 15px;
}

.content {
    inset: 0 !important;
    max-width: var(--max-width) !important;
    margin: unset !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.center {
    position: relative;
    text-align: center;
    object-fit: fill;
    width: 100%;
}

.flex {
    display: flex;
}
