/** CONTENT **/

:root {
    --tb-max-width: 800px;
    --tb-margin: auto;
}

/** content **/
.tb-content {
    max-width: var(--tb-max-width);
    margin: var(--tb-margin);
}

/** margin **/
.tb-margin {
    margin: var(--tb-margin);
}