name: KiwiCook Docker Image
on:
  push:
    branches:
      - "main"
    paths:
      - kiwi_cook_server/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push KiwiCook
        uses: docker/build-push-action@v6
        with:
          context: ./kiwi_cook_server
          platforms: linux/amd64,linux/arm64
          push: true
          tags: jpkmiller/kiwi-cook:latest, jpkmiller/kiwi-cook:v1.0.0
