name: "Go Static Analysis"
on: ["push", "pull_request"]

jobs:
  ci:
    name: "Run CI"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - uses: dominikh/staticcheck-action@v1.3.0
      with:
        working-directory: "./backend"
